#todo {
    flex: 2 1 600px;
    display: grid;
    grid-template-columns: 25% 55% 20% ;
    grid-template-rows: minmax(20%, 150px) minmax(20%, 150px) minmax(300px, 80%);
}

#todo h3 {
    color: var(--second-bg-color);
    grid-column: 2;
    grid-row: 1;
    font-size: 32px;
    text-align: center;
}

/* everything regarding input */

#input_field {
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--border-line-color);
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
}

#entry {
    flex: 3 2 0;
    line-height: 64px;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding-left: 20px;
    font-size: 16px;
    margin-right: 5px;
    min-width: 0;
    overflow: hidden;
}

#entry:focus {
    border: 2px solid var(--border-line-color);
}

#add_icon {
    display: inline-block;
    flex: 1 2 0;
    color: var(--main-bg-color);
    font-size: 80px;
    text-align: center;
    transition: all ease 0.1s;
    min-width: 0;
    cursor: pointer;
}

#add_icon:hover {
    color: var(--border-line-color);
    transform: scale(1.3);
}


/* -------BULLET POINT LIST------- */

#bullet_points {
    grid-column: 2;
    grid-row: 3;
    overflow-x:hidden;
    overflow-y:auto;
    align-self: start;
}

#bullet_points div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row wrap;
}

#bullet_points label {
    font-size: 20px;
    margin-left: 10px;
}

.checked {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--main-bg-color);
}

.bullet_checkbox {
    width: 18px;
    height: 18px;
    appearance: none;
    border: 1px solid var(--second-bg-color);
    background-color: var(--card-text-color);
    border-radius: 50%;
    align-self: center;
}

.bullet_checkbox:checked {
    background-color: var(--border-line-color);
}

.delete_cross {
    color: var(--main-bg-color);
    margin-left: auto;
    outline: none;
    transition: all ease 0.1s;
    cursor: pointer;
}

.delete_cross:hover {
    color: var(--border-line-color);
    transform: scale(1.3);
}